<h1><%= @boardgame.name %></h1>

<p><%= @boardgame.blurb %></p>

<h3>Member of <%= pluralize("genre", @boardgame.genres.count) %>:</h3>
<ul>
<%= @boardgame.genres.each do |genre| %>
    <li><%= link_to genre.name, genre_path(genre) %></li>
<% end %>
</ul>